Source: idg
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 dh-python,
 libclfft-dev,
 casacore-dev,
 clang-format-14,
 dh-python,
 python3-all,
 libfftw3-dev,
 libgfortran5,
 libldap-common,
 nvidia-cuda-toolkit,
 opencl-clhpp-headers,
 liblapack-dev,
 libblas-dev,
 python3-dev,
 libxsimd-dev,
 libxtensor-dev,
 xtensor-dev,
 xtl-dev
Standards-Version: 4.6.2.0
Homepage: https://gitlab.com/astron-idg/idg

Package: idg-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libidg0 (= ${binary:Version}),
         libidg-api0 (= ${binary:Version}),
         libidg-common0 (= ${binary:Version}),
         libidg-cpu0 (= ${binary:Version}),
         libidg-cuda0 (= ${binary:Version}),
         libidg-external0 (= ${binary:Version}),
         libidg-fft0 (= ${binary:Version}),
         libidg-hybrid-cuda0 (= ${binary:Version}),
         libidg-util0 (= ${binary:Version}),
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Image Domain Gridding core library (development files)

Package: libidg0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding core library 


Package: libidg-api0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding api library

Package: libidg-common0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding common library

Package: libidg-cpu0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding cpu library

Package: libidg-cuda0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding cuda library

Package: libidg-external0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding external library

Package: libidg-fft0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding fft library

Package: libidg-hybrid-cuda0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding hybrid library

Package: libidg-util0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Image Domain Gridding util library

Package: python3-idg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends}
Description: image Domain Gridding Python3 library

Package: idg-doc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: image Domain Gridding documentation
