Source: idg
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: cmake, debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://gitlab.com/astron-idg/idg

Package: idg
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: image domain gridding
