#!/usr/bin/make -f


%:
	dh $@  --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_WITH_PYTHON=ON -DGIT_SUBMODULE=OFF \
	      		     -DPython_VERSION_MAJOR=3 -DXTL_GIT_TAG=0.7.2 \
			     -DPython_VERSION_MINOR=10 \
                             -DBUILD_LIB_CPU=ON \
                             -DBUILD_LIB_CUDA=ON
